 @import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans'); 

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	list-style: none;
	text-decoration: none;
	 font-family: 'Josefin Sans', sans-serif; 
   
}

h1.title{
	margin-bottom: 20px;
	color: #444444;
	font-family: 'Arial', cursive;
	text-transform: uppercase;
	font-size: 35px;
	word-spacing: 25px;
	letter-spacing: 5px;
}

p{
	margin-bottom: 15px;
	font-size: 16px;
	line-height: 20px;
	color: #a9a9a9;
}

.btn a {
    width: 180px;
    height: 35px;
    line-height: 35px;
    border: 2px solid rgb(228, 163, 0);
    color: goldenrod;
    display: block;
    margin: 25px auto 0;
    text-align: center;
}

.main_box{
	position: relative;
}

/* Navigation Bar */
.navbar{
	width: 100%;
	height: 65px;
	position: absolute;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.logo a{
	font-family: 'Allura', cursive;
	font-size: 32px;
	color: goldenrod;
}

.navbar_items ul{
	display: flex;
}

.navbar_items ul li{
	margin: 0 10px;
}

.navbar_items ul li a{
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	transition: 0.4s ease-in-out;
	
}
ul li a:hover{
    color: gold;
}

/* banner picture */
.bn_pic{
	background: url('bg.jpg') no-repeat top center;
	background-size: cover;
	width: 100%;
	height: 850px;
	display: flex;
	justify-content: center;
	align-items: center;

}
/* Banner body or content */
.bn_body{
	text-align: center;
	color: #fff;
}

.bn_body h1{
	text-transform: uppercase;
	line-height: 48px;
   margin-top: 45px;
	margin-bottom: 15px;
}

.bn_body h1 span{
	color: gold;
}


/* About Myself*/
.about,
.projects,
.photog,
.contactme{
	text-align: center;
	padding: 5% 10%;
}

/* Projects */
.projects{
	background: #ececec;
}

.diff_projects {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}

.diff_projects .diff_projects_item {
    width: 30%;
}

.diff_projects .diff_projetcs_item img {
    width: 100%;
    margin-bottom: 25px;
}

.diff_projects .diff_projects_item h3 {
    color: goldenrod;
    margin-bottom: 15px;
}
.sub_title{
	color: goldenrod;
    margin-bottom: 15px;
	font-size: large;
	font-weight: bold;
}

/* My Photography Wall */
.photog{
	background: rgb(244, 244, 244);
}

.photog_wrapper{
	display: flex;
	flex-direction: column;
}

.photog_wrapper .photo{
	display: flex;
	justify-content: space-between;
}

.photog_wrapper .work-1.photo{
	margin-bottom: 25px;
}

.photog_wrapper .pic{
	width: 30%;
	height: auto;
	cursor: pointer;
	overflow: hidden;
	position: relative;
}

.photog_wrapper .pic img{
	display: block;
	width: 100%;
	height: auto;
	transition: all 0.5s ease;
}

.photog_wrapper .pic:hover img{
	transform: scale(1.1);
}

/* Get In Touch!*/
.contactme{
	background-color: rgb(225, 225, 225);
}
.form_wrapper .form_input{
	margin-bottom: 15px;
}

.form_wrapper .form_input input[type="text"]{
	width: 250px;
	padding: 12px 20px; 
	border: 1px solid #ccc;
}

.form_wrapper .form_input textarea{
	width: 250px;
	padding: 12px 20px; 
	height: 80px;
	resize: none;
	border: 1px solid #ccc;
}
/* footer */
.footer{
	width: 100%;
	text-align: center;
	background: #444444;
	padding: 20px 0;
}

.footer a{
	color: #fff;
}



@media (max-width: 720px){

	.navbar{
		height: auto;
		flex-direction: column;
	}

	.logo{
		margin-bottom: 25px;
	}

	.navbar_items ul{
		flex-direction: column;
		text-align: center;
	}

	.navbar_items ul li{
		margin-bottom:5px;
	}

	.bn_body{
		margin-top: 35px;
	}

}



/*palette reference-- #f5f5f5
   #ccc*/