body{
    /*background-color: #ffda00;
background-repeat: no-repeat;
background-position: center;
background-size: cover; */
width: 100%;
background: linear-gradient(to top, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 50%), url(bg3.jpg);
background-image: url(bg3.jpg);
background-size:cover ;
background-position: center;
  height: 100vh;

}
  

h1{
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    color: white ;
        width: 700px;
        border: 5px solid black;
        padding: 20px;
        margin: 15px;
        background-color: maroon;
        border-radius: 48px;
        position: absolute;
        left: 20%;
      
    
}

#pic1{
    padding-top: 20px;
    position: absolute;
    margin-left: 325px;
    top: 20%;
    left: 0%;
    transform: rotateY(180deg);
}
#pic2{
    padding-top: 20px;
    position: absolute;
    top: 20%;
    left: 52%;
}
#rock{
    position: absolute;
    top: 75%;
    left:400px;
    visibility: hidden;
}

#paper{
    position: absolute;
    top: 75%;
    left: 560px;
    visibility: hidden;
}

#scissors{
    position: absolute;
    top: 75%;
    left: 720px;
    visibility: hidden;

}
button{
    height: 80px;
    width: 140px;
    font-size: large;
    font-weight: bold;
    background-color: green;
    color: floralwhite;
    border: solid 4px black;
    border-radius: 44px;
    cursor: pointer;

}
#start{
    position: absolute;
    background-color: maroon;
    top: 75%;
    left: 45.5%;

}

@keyframes shakeLeft {
    0%{
        transform: rotateY(180deg) translateY(0px);
    }
    50%{
        transform: rotateY(180deg) translateY(-50px);
    }
    100%{
        transform: rotateY(180deg) translateY(0px);
    }
}

@keyframes shakeRight{
    0%{
        transform: translateY(0px);
}
50%{
    transform: translateY(-50px);
}
100%{
    transform: translateY(0px);
}
}
/*@media screen and (max-width: 600px){
    h1{
        font-size: 36px;
        line-height: 50px;
    }
}
    
*/

 /* media queries */
 